<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.url">jdbc:sqlite:homework.db</property>
        <mapping class="Lesson4.CourierInfoEntity"/>
        <mapping class="Lesson4.CustomersEntity"/>
        <mapping class="Lesson4.DeliveryEntity"/>
        <mapping class="Lesson4.OrdersEntity"/>
        <mapping class="Lesson4.OrdersProductsEntity"/>
        <mapping class="Lesson4.OrdersProductsEntityPK"/>
        <mapping class="Lesson4.ProductsEntity"/>

    </session-factory>
</hibernate-configuration>